[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mod09nrt"]
	path = mod09nrt
	url = https://github.com/cran/mod09nrt
[submodule "proccalibrad"]
	path = proccalibrad
	url = https://github.com/cran/proccalibrad
